@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
 margin: 0;
 color: #ffffff;
 font-family: "Montserrat", sans-serif;
 }

.header {
  height: 100px;
  background-color: #343a40;
  }

  h1 {
  margin-left: 200px;
  margin-right: 400px;
  display: inline-block;
}

p {
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

a {
  scroll-behavior: smooth;
  text-decoration: none;
  color:#FFF;
 }

.main {
  background-color: #1abc9c;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

#lil-dude {
   height: 300px;
 }

.second {
 color: #343a40;
 text-align: center;
 padding-bottom: 100px;
}

hr {
 border-top: 3px solid;
 width: 100px;
}

img {
 display: inline-block;
 height: 250px;
 width: auto;
 border-radius: 3%;
 margin: 10px;
}

.third {
 background-color: #1abc9c;
 text-align: center;
 padding-top: 5px;
 padding-bottom: 50px;
}

h2 {
 font-size: 50px;
 
}

.third p {
 text-align: left;
 width: 400px;
}